# Required Credentials
MAILGUN_DOMAIN="<your-mailgun-domain-name>"
MAILGUN_SECRET="<your-private-api-key>"

# Optional: If using the EU region
# MAILGUN_API_URL="https://api.eu.mailgun.net/v3"

# Optional: For use with frameworks like Laravel that have specific settings
# If using the Mailgun driver (API):
MAIL_MAILER="mailgun" 

# If using SMTP instead of the API:
# MAIL_MAILER="smtp"
# MAIL_HOST="smtp.mailgun.org"
# MAIL_PORT="587"
# MAIL_USERNAME="postmaster@<your-mailgun-domain-name>" # The specific SMTP login username
# MAIL_PASSWORD="<your-smtp-password>" # The specific SMTP password, found in Domain Settings -> SMTP Credentials
# MAIL_ENCRYPTION="tls"
